#mainHeader{
	background-image: url("../img/jumbotronbackground.jpg");
	background-position: 0px 30%;
	background-repeat: no-repeat;
	background-size: 100%;
} 

 header h1{
	padding: 50px 0 0 0;
	font-size: 4.5em;
	color: white;
}

#rejse {
	font-size: 2em;
	color: white;
	padding-bottom: 40px;
}

.destination {
	background: #EEEEEE;
}

.destination a{
	color: #23527c;
}

nav h4 {
	padding-top: 5px;
	color: darkgray;
}

.noPadding {
	padding-right: 0;
	padding-left: 0;
}

nav ul li a{
	text-align: right;
	color: darkgray;
}

main {
	text-align: center;
}

section {
	padding: 35px 0px;
}

footer{
	padding-top: 30px;
}

footer p {
	text-align: center;
}

.destinationer img {
	width: 100%;
	height: auto;
}

main article img {
	margin-top: 50px;
}

.destinationer a {
	text-decoration: none;
	color: black;
}

.destinationer img {
	opacity: 0.8;
}
.destinationer article:hover img{
	opacity: 1;
}