#mainHeader{
	background-image: url("../img/jumbotronbackground.jpg");
	background-position: 0px -250px;
	background-size: 100%;
}

h1{
	padding: 50px 0 0 0;
	font-size: 4.5em;
	color: white;
}

#rejse {
	font-size: 2em;
	color: white;
	padding-bottom: 40px;
}

h4 {
	padding-top: 5px;
	color: darkgray;
}

.noPadding {
	padding-right: 0;
	padding-left: 0;
}

nav ul li a{
	text-align: right;
	color: darkgray;
}

section {
	padding: 35px 0px;
}

footer p {
	text-align: center;
}